body {
   background-color: #26212B;
}
#quoteStation {
   background-color: #26212B;
   height: 425px;
}
.stationRow {
   background-color: #FFD042;
   height:150px;
   width: 700px;
   margin-top: 10px;
}
#head {
   background-color: #26212B;
}
.fa-reddit-alien {
   cursor: pointer;
   color: white;
}

/* BOOTSRAP */
.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
