#quoteStation {
   background-color: #26212B;
   height: 525px;
}
.stationRow {
   background-color: #FFD042;
   height:100px;
   width: 500px;
   margin-top: 10px;
}
#quoteBtn {
   height: 40px;
   width: 60px;
}

/* BOOTSRAP */
.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
