body {
   background-color: #26212B;
}
#quoteStation {
   background-color: #26212B;
   height: 425px;
}
.stationRow {
   background-color: #FFD042;
   height:150px;
   width: 700px;
   margin-top: 60px;
   display: inline-block;
}
#twitter-box {
   display: inline-block;
   width: %;
}
#head {
   background-color: #26212B;
   text-align: center;
}
#click-snoo {
   font-weight: bolder;
   text-decoration: underline;
   color: rgb(255, 208, 66);
}
.main-header {
   color: white;
}
.fa-reddit-alien {
   margin-top: 30px;
   color: white;
   cursor: pointer;
}
blockquote {
   display: inline-block;
   font-size: 20px;
   width: 90%;
   color: black;
}
.fa-twitter {
   color: #1DA1F2;
}

a {
   color: black;
   text-decoration: none;
}
a:hover {
   color: white;
   text-decoration: underline;
}
a:active {
   color: black;
   text-decoration: none;
}
a:visited {
   color: black;
   text-decoration: none;
}

/* BOOTSRAP */
.center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
